%% -*- erlang -*-
%% to do local modification copy to for example local.config
[

{epx,
 [%% {backend, "fb"}
  %% {screen_width, 800},
  %% {screen_height, 480},
  %% {pixel_format, 'arg/little'},
  %% {input_mouse_device, "/dev/input/event0"}
 ]},

{midi,
 [{auto_start_synth, true},
  {midi_synth, midi_fluid},     %% Use fluidsynth as synth
  {midi_backend, midi_alsa},    %% Use alsa to read/write midi
  %% {drum_dir, "/var/erlang/midi/tools/DrumSet"},
  {midi_fluid,                  %% fluidsynth options
   [{portname, "Erlang/Fluid"}, %% Default "FLUID Synth"
    {audio, "alsa"},
    {audio_device, "default"},
    {gain, 0.2},               %% Default 0.2 (0.0 - 10.0)
    {midi_channels,  16},      %% Default 16  (16 - 256)
    {audio_channels, 2},       %% Default 1
    {midi, "alsa_seq"},
    {chorus, 0},               %% Default 1
    {period_size, 128},        %% 64-8192 (64 is to small for non-realtime)
    {sound_fonts,
     [
      "/usr/share/sounds/sf2/FluidR3_GM.sf2",
      "/usr/share/sounds/sf2/FluidR3_GS.sf2"
     ]}
   ]}
 ]}
].
