%% -*- erlang -*-
%% to do local modification copy to for example local.config
[
{midi,
 [{auto_start_synth, true},
  {midi_synth, midi_fluid},     %% Use fluidsynth as synth
  %% {midi_synth, "INTEGRA-7"}, %% Use INTEGRA-7 as synth
  {midi_backend, midi_alsa},    %% Use alsa to read/write midi
  {drum_dir, "tools/Korg-N1R"}, %% Use drums from this directory
  {midi_fluid,                  %% fluidsynth options
   [{portname, "Erlang/Fluid"}, %% Default "FLUID Synth"
    {audio, "alsa"},
    {audio_device, "default"},
    {gain, 0.2},               %% Default 0.2 (0.0 - 10.0)
    {midi_channels,  16},      %% Default 16  (16 - 256)
    {audio_channels, 2},       %% Default 1
    {midi, "alsa_seq"},
    {chorus, 0},               %% Default 1
    {period_size, 128},        %% 64-8192 (64 is to small for non-realtime)
    {sound_fonts,
     [
      "/usr/share/sounds/sf2/FluidR3_GM.sf2",
      "/usr/share/sounds/sf2/FluidR3_GS.sf2"
     ]}
   ]}
 ]}
].

