%% -*- erlang -*-
%% to do local modification copy to for example local.config
[
{midi,
 [{auto_start_synth, true},
  {fluid_backend, midi_alsa},
  {midi_alsa,
   [{name, "alsa"},
    {audio_device, "default"}
   ]},
  {sound_fonts,
   [
    "/usr/share/sounds/sf2/FluidR3_GM.sf2",
    "/usr/share/sounds/sf2/FluidR3_GS.sf2"
    %% "$(HOME)/sf2/file.sf2
    %% "$/midi//priv/sf2/file.sf2
   ]}
  ]}
].
